*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

section {
    font-family: Poppins, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

#head {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #3c4053;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

section img {
    margin-top: 50px;
}

section h1 {
    font-size: 40px;
    margin-bottom: 5%;
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 60px;
}

section p {
    text-shadow: 2px 2px black;
}

#undertitle {
    font-size: 20px;
    margin: 5% 15%;
    color: white;
    align-content: center;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;

}

.accordion-item {
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordion-link {
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;

}

.accordion-link i {
    color: #e7d5ff;
    padding: .5rem;

}

.accordion-link .ion-md-remove {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 950ms;

}

.answer::before {
    content: "";
    position: absolute;
    width: .7rem;
    height: 90%;
    background-color: #8fc460;
    top: 5%;
    left: 0;
    transform: translate(-50%);


}

.answer p {
    color: rgba(255, 255, 255, .6);
    font-size: 1.4rem;
    padding: 2rem;
}

/* ovo je za click event */
.accordion-item:target .answer {
    max-height: 20rem;
}

/* kada kliknem na accordion-item : nestaje + */
.accordion-item:target .accordion-link .ion-md-add {
    display: none;
}

/* kada kliknem na accordion-item : pojavljuje se - */
.accordion-item:target .accordion-link .ion-md-remove {
    display: block;
}











/*FOOTER*/

.footer {
    background-color: #333;
    color: gray;
    height: 400px;
    position: relative;
    margin-top: 0;
    bottom: 0;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;

}



.footer .footer-content h1,
h2 {
    color: white;
    padding-bottom: 15px;
}

.footer .footer-content .about h1 span {
    color: red;
}

.footer .footer-content .about p {
    padding-left: 20px;
    text-align: justify;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    margin-left: 20px;
}

.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    color: gray;
    transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
}

.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: gray;
    text-decoration: none;
}



.footer .footer-content .links ul a:hover {
    color: white;
    padding-left: 15px;
    transition: all .3s;
}

.footer .footer-content .contact-form form {
    display: flex;
    flex-direction: column
}

.footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .7rem 1.2rem;
    resize: none;
    border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .footer-content .contact-form form .btn-big {
    width: 100px;
    height: 50px;
    background-color: turquoise;
    border-radius: 7px;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    left: 0px;
    padding-top: 20px;
    position: absolute;
    bottom: 0px;
    top: 100%;
}

@media only screen and (max-width: 934px) {
    .footer {
        height: auto;
    }

    .footer .footer-content {
        height: auto;
        flex-direction: column;
    }

    .footer .footer-content .contact-form {
        padding-bottom: 90px;
    }

    .footer .footer-content .contact-form form .btn-big {
        width: 100%;
    }



}